<a href="https://colab.research.google.com/github/yash144-code/daily-python-work/blob/main/python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day 9**   
**15/11/2025**

In [ ]:
# printing types
a=10
b=20.6
c="python"
d=6+8j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [ ]:
a=10
b=20.6
c="python"
d=6+8j
print(type(a),type(b),type(d))

<class 'int'> <class 'float'> <class 'complex'>

### Question: Check if a number is positive, negative, or zero.

Write a Python program that asks the user to enter an integer. Based on the input, determine if the number is positive, negative, or zero, and print an appropriate message.

In [ ]:
#practising
integer = int(input("Enter a number:"))
if integer > 0:
    print("The number is positive")
elif integer < 0:
    print("The number is negative")
else:
    print("The number is zero")

Enter a number:5
The number is positive

### Question: Determine if a number is even or odd.

Write a Python program that asks the user to enter an integer. Based on the input, determine if the number is even or odd, and print an appropriate message.

In [ ]:
num=int(input("enter a number:"))
if num % 2 == 0:
  print("even")
else:
  print("odd")

enter a number:8
even

### Question: Check if a string is a palindrome.

Write a Python program that asks the user to enter a string. Based on the input, determine if the string is a palindrome (reads the same forwards and backwards, ignoring case and spaces), and print an appropriate message.

In [ ]:
input_string = input("Enter a string: ")

# Clean the string: convert to lowercase and remove spaces
cleaned_string = input_string.replace(" ", "").lower()

# Check if the cleaned string is equal to its reverse
if cleaned_string == cleaned_string[::-1]:
    print(f'"{input_string}" is a palindrome.')
else:
    print(f'"{input_string}" is not a palindrome,')

Enter a string: CaallaAc
"CaallaAc" is a palindrome.

**operational statements**

arithematic operator

In [ ]:
a = 5
b =3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

8
2
15
1.6666666666666667
2
1
125

### Question: Arithmetic Operations

Given two numbers, `x = 15` and `y = 4`, calculate and print the results of the following arithmetic operations:

*   Addition (`x + y`)
*   Subtraction (`x - y`)
*   Multiplication (`x * y`)
*   Division (`x / y`)
*   Modulo (`x % y`)
*   Floor Division (`x // y`)
*   Exponentiation (`x ** y`)

Print each result with a descriptive label (e.g., "Addition: ", "Subtraction: ").

In [ ]:
x =15
y= 4
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

19
11
60
3.75
3
3
50625

**assignment operators**

### Question: Assignment Operators

Given an initial value `a = 10`:

1.  Add 5 to `a` using the `+=` operator and print the new value of `a`.
2.  Subtract 3 from `a` using the `-=` operator and print the new value of `a`.
3.  Multiply `a` by 2 using the `*=` operator and print the new value of `a`.
4.  Divide `a` by 4 using the `/=` operator and print the new value of `a`.
5.  Calculate the remainder of `a` divided by 3 using the `%=` operator and print the new value of `a`.
6.  Perform floor division of `a` by 2 using the `//=` operator and print the new value of `a`.
7.  Raise `a` to the power of 3 using the `**=` operator and print the new value of `a`.

Print each result with a descriptive label (e.g., "After += 5: ").

In [ ]:
a=10
a+=5
print(a)
a-=3
print(a)
a*=2
print(a)
a/=4
print(a)
a%=3
print(a)
a//=2
print(a)
a**=3
print(a)

15
12
24
6.0
0.0
0.0
0.0

**relational operators**

### Question: Relational Operators

Given two variables: `num1 = 25` and `num2 = 30`.

Write a Python program to compare these two numbers using the relational operators and print the boolean result for each comparison:

In [1]:
#practising
num1=25
num2=30
print(num1==num2)
print(num1!=num2)
print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1<=num2)

False
True
False
True
False
True

**unary minus**

In [2]:
a=20
print(a)
print(-a)

20
-20

**logical operators**

### Question: Logical Operators

Given the following boolean variables:   
a = 20   
b = 22   
c = 25

Write a Python program to evaluate the following expressions using logical operators (`and`, `or`, `not`) and print the boolean result for each:

In [3]:
a=20
b=22
c=25
print(a<b and b<c)
print(a>b  or a>c)
print(not(b>c))

True
False
True

In [9]:
a=3
b = 4
c=3
print(a<=b and b>=c)
print(a==b or b==c)
print(not a==b)

True
False
True

**membership operators**

### Question: Membership Operators

Given the following list of fruits: `fruits = ["apple", "banana", "cherry", "date"]`

Write a Python program to perform the following checks using membership operators (`in` and `not in`) and print the boolean result for each:

In [5]:
fruits = ["apple", "banana", "cherry", "date"]
print ("apple" in fruits)
print ("banana" in fruits)
print ("cherry" not in fruits)
print ("dates" in fruits)

True
True
False
False

In [6]:
para = ("this is python programming")
print("This" in para)
print("this" in para)
print("python " in para)

False
True
True