<a href="https://colab.research.google.com/github/yash144-code/daily-python-work/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name1 = 'yash'
name2 = "suma"
name3 = '''sai'''
name4 = """pspk"""
print(name1)
print(name2)
print(name3)
print(name4)

yash
suma
sai
pspk

In [ ]:
name1 = 'yash'
name2 = "sai"
name3 = '''vishnu'''
name4 = """nayna"""
print(name1)
print(name2)
print(name3)
print(name4)

yash
sai
vishnu
nayna

In [ ]:
name1='yash'
loc1 = """area:ramnagar
city:hyderabad
state:telangana 500020"""
print("name:",name1)
print(loc1)

name: yash
area:ramnagar
city:hyderabad
state:telangana 500020

In [ ]:
name = "yashwanth"
a=10
b=20
print(name[1])
print([len(name)-1])
10+20

a
[8]

30

In [ ]:
name = "yashwanth"
[len(name)-1]  #here length is not printed because the line that doesn't use print option to print then it must be in last line
print(name[1])

a

In [ ]:
word = "python program"
print(word[0:5])
[len(word)-1]

pytho

[13]

In [ ]:
things = "python books"
print(things[0:3])

pyt

In [ ]:
device = "computer"
print(device[-8:-4])

comp

In [ ]:
word = "python program"
print(word[0])
[len(word)-1]

p

[13]

In [ ]:
name = input("enter name:")
print("the first four characters of name are:",name[0:4])

enter name:yashwanth
the first four characters of name are: yash

In [ ]:
name = input("enter name:")
for alphs in name:
  print(alphs)

enter name:yashwanth
y
a
s
h
w
a
n
t
h

In [ ]:
name = input("enter a name:")
name1=input("enter a name:")
for alphs in name,name1:
  print(alphs)

enter a name:python
enter a name:program
python
program

In [ ]:
word = "this_is_laptop"
print(word[0:5])

this_

In [ ]:
word = "python_language"
for value in word:
  print(value)

p
y
t
h
o
n
_
l
a
n
g
u
a
g
e

In [ ]:
word = "pencil_parthasaarathi"
print(word)
print(word[::2])  #step 2
print(word[5::])  #removing first 5 char from string
print(word[::-1])  #reversinfg string

pencil_parthasaarathi
pni_ataarti
l_parthasaarathi
ihtaraasahtrap_licnep

In [28]:
text = "helloworld"
print(text[1:8:2])

elwr

In [29]:
text = "helloworld"
print(text[::2])

hlool

In [30]:
text = "hello_world"
print(text[::-1])

dlrow_olleh

In [32]:
x = 10
x = x + 5
x = x + 2
print(x)

17

In [39]:
name = "yashwanth"
print(name[0:5])
print(name[0])
print(name)

yashw
y
yashwanth

In [48]:
first_name = "yash"
last_name = "naidu"
print(first_name+last_name)

yashnaidu

In [49]:
a="20"
b="30"
print(a+b)

2030

In [63]:
name = "python"
print(name*3)

pythonpythonpython

In [67]:
name = "python"
name2 = "program"
full = (name+" ")*3 +(name2+" ")*3
print(full)

python python python program program program