<a href="https://colab.research.google.com/github/yash144-code/daily-python-work/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name1 = 'yash'
name2 = "sai"
name3 = '''vishnu'''
name4 = """nayna"""
print(name1)
print(name2)
print(name3)
print(name4)

yash
sai
vishnu
nayna

In [30]:
name1='yash'
loc1 = """area:ramnagar
city:hyderabad
state:telangana 500020"""
print("name:",name1)
print(loc1)

name: yash
area:ramnagar
city:hyderabad
state:telangana 500020

In [81]:
name = "yashwanth"
a=10
b=20
print(name[1])
print([len(name)-1])
10+20

a
[8]

30

In [83]:
name = "yashwanth"
[len(name)-1]  #here length is not printed because the line that doesn't use print option to print then it must be in last line
print(name[1])

a

In [87]:
word = "python program"
print(word[0:5])
[len(word)-1]

pytho

[13]

In [57]:
things = "python books"
print(things[0:3])

pyt

In [70]:
device = "computer"
print(device[-8:-4])

comp

In [71]:
word = "python program"
print(word[0])
[len(word)-1]

p

[13]

In [42]:
name = input("enter name:")
print("the first four characters of name are:",name[0:4])

enter name:yashwanth
the first four characters of name are: yash

In [55]:
name = input("enter name:")
for alphs in name:
  print(alphs)

enter name:yashwanth
y
a
s
h
w
a
n
t
h

In [54]:
name = input("enter a name:")
name1=input("enter a name:")
for alphs in name,name1:
  print(alphs)

enter a name:oooo
enter a name:kkkk
oooo
kkkk