<a href="https://colab.research.google.com/github/yash144-code/daily-python-work/blob/main/weekend_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#conditional statements
#if statement
a=10
if a<20:
 print("true")
print("program executed")

true
program executed

In [ ]:
emp1= "yash"
print(emp1)

yash

In [ ]:
Pcost = 345.60
ordered = 3
s_charge = 20
tip = 30
bill_amount = Pcost*3+s_charge+tip
print(bill_amount)

1086.8000000000002

In [ ]:
#user defined functions
def laptop():
  print("this is a device")

laptop()

this is a device

In [ ]:
def add(a,b):
  c= a+b
  print(c)
add(3,4)

7

In [ ]:
def student(name,marks):
  print("name:",name)
  print("mark:",marks)
student('yash',50)
student('sai',45)
student('suma',44)

name: yash
mark: 50
name: sai
mark: 45
name: suma
mark: 44

In [ ]:
def grade(v):
  print("hii")
grade(2)

hii

In [ ]:
#callig two functions
def func1():
  print("yash")
def func2():
  print("naidu")
func1()
func2()

yash
naidu

In [ ]:
#calling functin1 in function2
def fun1():
  print("hello")


def fun2():
  print("world")
  fun1()

fun2()

world
hello

In [ ]:
def testing(a):
  print("one parameterised function:", a)
x = input("Enter a value:")
testing(x)

Enter a value:hii
one parameterised function: hii

In [ ]:
u=10
v=20
print("u,v,a,b,c,d all are variables")
def new(a,b):
  print(a+b)
c = int(input("enter:"))
d= int(input("enter:"))
new(c,d)

u,v,a,b,c,d all are variables
enter:3
enter:4
7

In [ ]:
#if else statement
a=10
b=20
if a<b:
  print("b is bigger")
else :
  print("a is bigger")

b is bigger

In [ ]:
#if elif else statement
marks = 40
if marks>45:
  print('grade a')
elif marks>40:
  print("grade b")
else :
  print("grade c")

grade c

In [ ]:
#nested if statement
x=35
if x>30:
  print('true')
  if x>40:
    print("yes")
  else:
    print("no")
else:
  print("false")

true
no

In [ ]:
#looping statements
#for loop
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
marks = 10,20,30,1,34,405,43,429,43,'iiii'
for values in marks:
  print(marks)
  print(values)

(10, 20, 30, 1, 34, 405, 43, 429, 43, 'iiii')
10
(10, 20, 30, 1, 34, 405, 43, 429, 43, 'iiii')
20
(10, 20, 30, 1, 34, 405, 43, 429, 43, 'iiii')
30
(10, 20, 30, 1, 34, 405, 43, 429, 43, 'iiii')
1
(10, 20, 30, 1, 34, 405, 43, 429, 43, 'iiii')
34
(10, 20, 30, 1, 34, 405, 43, 429, 43, 'iiii')
405
(10, 20, 30, 1, 34, 405, 43, 429, 43, 'iiii')
43
(10, 20, 30, 1, 34, 405, 43, 429, 43, 'iiii')
429
(10, 20, 30, 1, 34, 405, 43, 429, 43, 'iiii')
43
(10, 20, 30, 1, 34, 405, 43, 429, 43, 'iiii')
iiii

In [ ]:
#while loop
a= 29
while a <35:
  print('number',a)
  a+=1

number 29
number 30
number 31
number 32
number 33
number 34